
.top-nav {
  align-items: center;
  top: 0;
  left: 4vw;
  height: 8vh;
  width: 91vw;
}

.top-nav:after {
  content: '';
  position: absolute;
  width: 93vw;
  bottom: -5px;
  left: 0;
  border: 1px solid black;
}

.initials {
  left: 0;
  color: black;
  height: 100%;
  width: 6vw;
  text-decoration: none;
}

ul {
  margin: 0;
  width: auto;
  float: right;
  font-size: 1.5rem;
}

li {
  display: inline-block;
  margin: 0 30px;
  cursor: pointer;
}

li:hover {
  color: #6f715a
}

a {
  color: white;
  text-decoration: none;
}

.left-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10vw;
  border-right: 2px solid black;
}

.left-nav:after {
  content: '';
  display: block;
  position: absolute;
  height: 1vw;
  right: -3px;
  left: 0;
  border-right: 4px solid white;
}

.right-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 5vw;
  border-left: 2px solid black;
}

.right-nav:after {
  content: '';
  display: block;
  position: absolute;
  height: 1vw;
  left: -3px;
  right: 0;
  border-left: 4px solid white;
}

.outermost-body-container {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 8vh;
  left: 10vw;
  height: 92vh;
  width: 85vw;
  border: 2px solid blue;
  overflow: scroll;
}
